@import 'config';
* {
    margin: 0;
    padding: 0;
    color: $primary-textcolor;
    font-family: $font;
}

body {
    background-color: $primary-color;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 4fr 1fr;
    height: 100vh;
    width: 100vw;
    margin: 0;
    max-width: fit-content;
    grid-template-areas:
    "head . nav nav"
    "main main main main"
    "aside aside foot foot"
    ;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: head;
    a {
        align-self: center;
        max-height: 100%;
    }
    img {
        height: 100px;
    }
}

nav {
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
        width: 70vw;
        a {
            color: inherit;
            text-decoration: none;
            font-weight: 600;
            text-transform: uppercase;
            &:hover {
                display: block;
                color: $hover-color;
            }
        }
    }
}

.homecontent {
    grid-area: main;
    padding: 50px 150px;
    h1 {
        font-size: 2rem;
        padding-bottom: 1rem;
        .highlight1 {
            color: $secondary-textcolor;
        }
    }
    section {
        display: flex;
        justify-content: space-around;
        align-items: center;
            .hometext {
                max-width: 50%;
                font-size: 1.5rem;
                font-weight: 400;
                .highlight2 {
                    font-weight: 600;
                }
            }
            .profile {
                max-width: 200px;
                border-radius: 50%;
            }
    }
}


.dropdown {
    display: none;
}

.social {
    grid-area: aside;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact {
    grid-area: foot;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside, footer {
    padding: 1vh;
    display: flex;
    flex-direction: column;
}


@media (max-width: 600px) {
    .social {
        grid-column: 1/5;
        grid-row: 4;
    }

    .contact {
        grid-column: 1/5;
        grid-row: 5;
    }

    .logo {
        a {
            align-self: center;
            max-height: 100%;
        }
        img {
            height: 20vw;
        }
    }

    .menu {
        display: none;
    }

    .homecontent {
        padding: 10px 50px;
            section {
                flex-wrap: wrap-reverse;
                article {
                    // justify-content: center;
                    h1 {
                        font-size: 20px;
                    }
                    .hometext {
                        font-size: 20px;
                    }
                }
                .profile{
                    border-radius: 0;
                    width: max-content;
                }
        }
    }

    .dropdown {
        grid-column: 3/5;
        display: flex;
        align-self: center;
        position: relative;
        display: inline-block;
        padding-right: 20vw;
        .menubtn {
            text-transform: uppercase;
            font-weight: 600;
            color: $secondary-textcolor;
        }
        .dropdown-content {
            display: none;
            position: absolute;
            z-index: 1;
            max-width: fit-content;
            background-color: rgb(36, 36, 36);
            a {
                color: #fff;
                padding: 2px;
            }
        }
    }
      
    .dropdown:hover .dropdown-content {
        display: block;
    }

    aside, footer {
        font-size: 10px;
    }
}